@import "tailwindcss";
@plugin "daisyui";

/* Tailwind dark mode configuration in index.css */
html {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  body {
    background-color: #ffffff; /* Light mode background */
     /* Light mode text color */
  }
  
  html.dark body {
    background-color: #1a202c; /* Dark mode background */
    /* Dark mode text color */
  }
  

