@import "tailwindcss";
@plugin "daisyui";

/* Tailwind dark mode configuration in index.css */
html {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  body {
    background-color: #ffffff; /* Light mode background */
     /* Light mode text color */
  }
  
  html.dark body {
    background-color: #06132c; /* Dark mode background */
    /* Dark mode text color */
  }
  

  @keyframes wave1 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes wave2 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-wave1 {
    animation: wave1 5s infinite linear;
  }
  
  .animate-wave2 {
    animation: wave2 5s infinite linear;
  }
  html, body {
    overflow-x: hidden;
  }
    